schema.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="https://github.com/pixedelic/variantileopardiane/leovar" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:xlink="http://www.w3.org/TR/xlink"
	xmlns="leovar">
	<xsd:element name="leovar">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="gen" type="gen"/>
				<xsd:element name="bib" type="bib"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>